* {
  box-sizing: border-box;
}

:root {
  --lightbg: #F4F4F4; 
  --darkbg: #222;
  --transpeed: .3s;
  --buttonsize: 56px;
}

body {
  background-color: var(--lightbg);
}

body.dark-mode {
  background-color: var(--darkbg);
}

.ws-dark-button {
  background: var(--darkbg);
  background-color: var(--darkbg);
  width: var(--buttonsize);
  height: var(--buttonsize);
  border-radius: 100%;
  border: none;
  outline: none;
  font-size: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: var(--transpeed);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 1em;
  cursor: pointer;
  z-index: 79;
}

.ws-dark-button input {
  display: none;
}

.ws-dark-button span {
  width: var(--buttonsize);
  text-align: center;
  height: var(--buttonsize);
  line-height: var(--buttonsize);
  font-size: 25px;
  opacity: 1;
  position: fixed;
  margin: 1em;
  bottom: 0;
  right: 0;
  transition: opacity var(--transpeed) ease-in-out, transform 0.35s ease-in-out;
  transform: rotateZ(0deg);
  cursor: pointer;
}

.ws-dark-button img.emoji {
  display: inline;
  border: none;
  box-shadow: none;
  background: none;
  padding: 0;
  height: 25px ;
  width: 25px;
  margin: 15.5px;
  vertical-align: 0;
  text-align: center;
  cursor: pointer;
}

span.hidden {
  opacity: 0;
  transition: opacity var(--transpeed) ease-in-out, transform 0.35s ease-in-out;
  transform: rotateZ(360deg);
}

span.hidden.immediate {
  display: none;
}

.dark-mode .ws-dark-button {
  background-color: var(--lightbg);
  background: var(--lightbg);
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.16), 0 2px 10px 0 rgba(255, 255, 255, 0.12);
  transition: background-color var(--transpeed) ease-in-out;
}
